/* === General Styles === */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
}

/* === Grid Layout === */
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "upload upload"
    "toggle filter"
    "table-section table-section"
    "download download";
}

.header { grid-area: header; }
.upload { grid-area: upload; }
.toggle { grid-area: toggle; }
.filter { grid-area: filter; }
.table-section { grid-area: table-section; }
.download { grid-area: download; }

/* === Table Styles === */
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.toggle-columns-table {
  width: 100%;
}

.toggle-columns-table tr {
  height: 40px;
}

.toggle-columns-table td:first-child,
.filter-table td:first-child {
  width: 30px;
  text-align: left;
}

.toggle-columns-table td:nth-child(3) {
  width: 100px;
  text-align: left;
}

.toggle-columns-table input[type="text"] {
  width: 450px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggle-columns-table input[type="checkbox"] {
  width: auto;
}

.filter-table {
  width: 100%;
}

.filter-columns-table input[type="text"] {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-table select {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* === Modal Styles === */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  max-width: 1080px;
  margin: 0 auto;
}

.filename-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.filename-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column-reverse;
}

.filename-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filename-modal-content h2,
.filename-modal-content input {
  margin-bottom: 10px;
}

.filename-modal-content button {
  padding: 8px 16px;
}

/* === Miscellaneous Styles === */
.section3-and-4::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 1px;
  background-color: #ccc;
}

.section3-and-4-container > * {
  flex: 1;
}

.section3-table {
  max-width: 200px;
  overflow-x: auto;
}

.table-container {
  overflow-x: auto;
}
